# MongoDB Configuration
MONGO_URL=mongodb://localhost:27017
DB_NAME=food_order_dev

# JWT Secret Key (Change this in production!)
JWT_SECRET_KEY=63e063ca06f5e0e9d75766d4214d55f83484889b3765db6b0519eec92b6c8c1

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_RrSC4d0yBm35he
RAZORPAY_KEY_SECRET=no5LMjtjpDgc6bv4pFKA8d7e

# Razorpay Webhook Secret (Optional - for webhooks)
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret
